nav {
    background-color: black;
}
nav li {
    display: inline-block;
    font-variant: small-caps;
    color: white;
}
h1 {
    text-align: center;
}
li {
    font-weight: bolder;
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}